<?xml version="1.0"?>
<launch>

    <include file="$(find robotrainer_bringup)/robot/rt2.launch" >
        <arg name="robotrainer_controller" default="fts_adaptive_force_controller"/>
        <arg name="robotrainer_controller_yaml" value="rt2_adaptive_force_controller.yaml"/>
    </include>

</launch>
