<?xml version="1.0"?>
<launch>

     <!-- RoSylerNT STUFF -->
    <!-- Start Communication Nodes -->
    <node name="rosopcua" pkg="ros_opcua_impl_python_opcua" type="ros_server.py" output="screen">
        <rosparam command="load" file="$(find robotrainer_communication)/configs/RoSylerNT_opcua_server.yaml"/>
    </node>

    <!-- Get published position of the platform in the map in a nice format -->
    <node ns="/rosylernt/robotrainer" name="extract_mobile_robot_base" pkg="ipr_helpers" type="extract_mobile_robot_tf">
        <param name="rate" value="50.0" type="double"/>
        <param name="root_frame" value="odom_combined"/>
        <param name="child_frame" value="base_link"/>
    </node>

    <!-- Topic relayes -->
    <node ns="/rosylernt/robotrainer" name="force_relay" pkg="topic_tools" type="relay" args="/base/output_data user_input_force"/>
    <node ns="/rosylernt/robotrainer" name="map_relay" pkg="topic_tools" type="relay" args="/map map"/>

    <!-- Scenario Data -->
    <node ns="/rosylernt/robotrainer" name="scenario_publisher" pkg="robotrainer_communication" type="robotrainer_status_aggregator.py">
        <param name="rate" value="0.1" type="double"/>
    </node>

</launch>
