<?xml version="1.0"?>
<launch>
        
        <arg name="not_all" default="true"/>
        
        <include file="$(find robotrainer_bringup)/robot/sr2_robotrainer_base_else.launch" >
                <arg name="robotrainer_controller_yaml" value="$(find robotrainer_bringup)/configs/robotrainer_adaptive_force_controller.yaml"/>
                <arg name="robotrainer_controller" value="fts_adaptive_force_controller"/>
                <arg name="not_all" value="$(arg not_all)"/>
        </include>
        
        <include file="$(find leg_tracker)/launch/leg_tracker_one_person.launch" >
                
        </include>
        
</launch>


