<?xml version="1.0"?>
<launch>

	<arg name="not_all" default="true"/>
        
        <include file="$(find robotrainer_bringup)/robot/sr2_robotrainer_base_else.launch" >
                <arg name="robotrainer_controller_yaml" value="$(find robotrainer_bringup)/configs/robotrainer_integral_compare.yaml"/>
                <arg name="robotrainer_controller" value="integral_compare_controller"/>
		<arg name="not_all" value="$(arg not_all)"/>
        </include>

</launch>

