<?xml version="1.0"?>
<launch>

    <arg name="robot" value="robotrainer2"/>
    <arg name="robot_env" default="$(optenv ROBOT_ENV ipr-robotrainer)"/>
    <arg name="RT2_ip" default="localhost"/>
    <arg name="RT2_ip_wired" default="10.20.20.1"/>
    <arg name="sim" default="false"/>
    <arg name="fts_sim" default="false"/>

    <arg name="pkg_hardware_config" default="$(find robotrainer_config)"/>
    <arg name="pkg_env_config" default="$(find cob_default_env_config)"/>

    <arg name="driver_yaml" default="$(arg pkg_hardware_config)/hardware/rt2_base_driver.yaml"/>
    <arg name="canopen_driver_yaml" default="$(arg pkg_hardware_config)/hardware/rt2_offsets.yaml"/>
    <arg name="base_controller_yaml" default="$(arg pkg_hardware_config)/hardware/sr3_base_controller.yaml"/>

    <arg name="sr3_controller" default="twist_controller"/>
    <arg name="base_controllers_to_spawn" default="joint_state_controller odometry_controller $(arg sr3_controller)"/>
    <arg name="controllers_to_load" default=""/>

    <!-- SOFTWARE COMPONENTS -->
    <arg name="mapping" default="false"/>
    <arg name="navigation" default="false"/>


    <!-- START LAUNCH STUFF -->
    <include file="$(find cob_bringup)/components/ros_control_base.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="driver_yaml" value="$(arg driver_yaml)"/>
        <arg name="canopen_driver_yaml" value="$(arg canopen_driver_yaml)"/>
        <arg name="controller_yaml" value="$(arg base_controller_yaml)" />

        <arg name="can_device" value="can0"/>

        <arg name="sim" value="$(arg sim)"/>
        <!-- TODO: can this remove restart when NOt-Aus? -->
<!--         <arg name="reset_errors_before_recover" default="false"/> -->

        <arg name="base_controllers_to_spawn" value="$(arg base_controllers_to_spawn)"/>

        <!-- FIXME: no need to move this? -->
       <arg name="velocity_smoother_config_file" value="$(arg pkg_hardware_config)/hardware/velocity_smoother.yaml"/>
    </include>
    <group ns="base">
        <node pkg="controller_manager" type="controller_manager" name="base_controller_loader" args="load $(arg controllers_to_load)" respawn="false" output="screen"/>
    </group>


    <!-- SOFTWARE COMPONENTS -->
	<include if="$(arg mapping)" file="$(find cob_mapping_slam)/launch/2dslam.launch">
          <arg name="unified_laser_scan" value="true"/>
    </include>
    <node unless="$(arg mapping)" name="map_server" pkg="map_server" type="map_server" args="$(arg pkg_env_config)/$(arg robot_env)/map.yaml"/>
    <include unless="$(arg mapping)" file="$(find cob_navigation_global)/launch/amcl_node.xml" >
        <arg name="robot" value="$(arg robot)"/>
    </include>

<!--  This doesn't work - add eband only from SR2.... -->
<!--    <include unless="$(arg mapping)" file="$(find cob_navigation_global)/launch/2dnav_ros_eband.launch">
  	  <arg name="robot" value="$(arg robot)"/>
	  <arg name="robot_env" value="$(arg robot_env)"/>
	</include>-->

</launch>
