<?xml version="1.0"?>
<launch>

    <arg name="robot" value="robotrainer"/>
     <arg name="pkg_config" default="$(find robotrainer_config)"/>
    <arg name="driver_yaml" default="$(arg pkg_config)/hardware/base_driver.yaml"/>
    <arg name="controller_yaml" default="$(arg pkg_config)/software_default/base_controller.yaml"/>

    <arg name="sim" default="false"/>


    <!-- send raw urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg pkg_config)/urdf/sr3_robotrainer.urdf.xacro'"/>

    <!-- TODO: Enable when using simulation -->
    <!-- startup simulated world -->
<!--    <include file="$(find cob_gazebo_worlds)/launch/world.launch" if="$(arg sim)">
        <arg name="robot_env" value="ipa-apartment" />
        <arg name="pkg_env_config" value="$(arg pkg_env_config)" />
        <arg name="pkg_gazebo_worlds" value="$(arg pkg_gazebo_worlds)" />
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" value="$(arg gui)" />
    </include>-->

    <include ns="ls_left" file="$(find sick_safetyscanners)/launch/sick_safetyscanners.launch">
        <arg name="sensor_ip" value="141.3.80.119"/>
        <arg name="sensor_tcp_port" value="2122"/>
        <arg name="host_ip" value="$(optenv ROS_IP)"/>
    </include>

    <include ns="ls_right" file="$(find sick_safetyscanners)/launch/sick_safetyscanners.launch">
        <arg name="sensor_ip" value="141.3.80.118"/>
        <arg name="sensor_tcp_port" value="2122"/>
        <arg name="host_ip" value="$(optenv ROS_IP)"/>
    </include>

    <include file="$(find cob_bringup)/drivers/scan_unifier.launch" >
        <arg name="robot" value="$(arg robot)" />
        <arg name="input_scans" value="['/base_laser_front/scan','/base_laser_rear/scan']"/>
        <arg name="output_scan" value="/scan_unified"/>
    </include>

    <!-- run scan unifier -->
    <node pkg="cob_scan_unifier" type="scan_unifier_node" name="$(arg name)" output="log">
        <rosparam subst_value="True" param="input_scans">"['/base_laser_front/scan','/base_laser_rear/scan']"</rosparam>
        <remap from="scan_unified" to="/scan_unified"/>
    </node>

<!--     TODO: Do I need this?? -->
<!--	<node ns="$(arg name)" pkg="generic_throttle" type="generic_throttle_node.py" name="generic_throttle">
		<rosparam subst_value="True">{topics: [$(arg output_scan): {latched: False, lazy: True, topic_rate: 1.0}] }</rosparam>
	</node>
    range filter....
<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="scan_unifier_filter">
		<rosparam command="load" file="$(arg pkg_hardware_config)/robots/$(arg robot)/config/scan_unifier_filter.yaml"/>
		<remap from="scan" to="$(arg output_scan)"/>
		<remap from="scan_filtered" to="$(arg output_scan)_filtered"/>
        </node>-->

<!-- TODO: Implement this functions -->
<!--    <include file="$(find cob_bringup)/tools/emergency_stop_monitor.launch" >
            <arg name="robot" value="$(arg robot)" />
    </include>
    <include file="$(find cob_bringup)/drivers/battery_voltage.launch" >
            <arg name="robot" value="$(arg robot)" />
    </include>
        <include file="$(find cob_bringup)/tools/battery_monitor.launch" >
            <arg name="robot" value="$(arg robot)" />
</include>-->

    <include file="$(find cob_bringup)/components/ros_control_base.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="pkg_hardware_config" value="$(arg pkg_config)"/>
        <arg name="driver_yaml" value="$(arg driver_yaml)"/>
        <arg name="controller_yaml" value="$(arg controller_yaml)"/>

        <arg name="can_device" value="can0"/>

        <arg name="sim" value="$(arg sim)"/>

        <arg name="velocity_smoother_config_file" value="$(arg pkg_config)/hardware/velocity_smoother.yaml"/>
        <arg name="twist_mux_config_locks" value="$(arg pkg_config)/hardware/twist_mux_locks.yaml"/>
        <arg name="twist_mux_config_topics" value="$(arg pkg_config)/hardware/twist_mux_topics.yaml"/>
    </include>

<!--    TODO: Add this later -->
<!-- start additional packages -->
<!--        <include file="$(find cob_bringup)/tools/diagnostics_aggregator.launch" >
            <arg name="robot" value="$(arg robot)" />
        </include>

        <include file="$(find cob_bringup)/tools/teleop.launch">
            <arg name="robot" value="$(arg robot)"/>
        </include>
        <remap from="/cmd_vel" to="/cmd_force"/>-->

<!--        <include file="$(find cob_bringup)/tools/base_collision_observer.launch">
            <arg name="robot" value="$(arg robot)"/>
        </include>-->
        <include file="$(find cob_bringup)/tools/robot_state_publisher.launch">
            <arg name="robot" value="$(arg robot)"/>
        </include>
<!--         <include file="$(find cob_script_server)/launch/script_server.launch"/> -->

        <!-- simulation only -->
<!--        <include if="$(arg sim)" file="$(find cob_bringup)/tools/fake_diagnostics.launch">
            <arg name="fake_diagnostics" value="'base_laser_front, base_laser_rear, -pc1, joy'"/>
        </include>-->

    <!-- push robot_description to factory and spawn robot in gazebo -->
<!-- 	<node if="$(arg sim)" name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1 $(arg initial_config) -wait $(arg robot_env)" respawn="false" output="screen" /> -->

	<!-- SOFTWARE COMPONENTS -->
<!--	<include if="$(arg mapping)" file="$(find cob_mapping_slam)/launch/2dslam.launch">
          <arg name="unified_laser_scan" value="true"/>
    </include>
    <include if="$(arg navigation)" file="$(find cob_navigation_global)/launch/2dnav_ros_eband.launch">
  	  <arg name="robot" value="raw3-5"/>
	  <arg name="robot_env" value="$(arg robot_env)"/>
	</include>-->

	<!-- HARDWARE COMPONENTS -->
<!--    <include ns="rosy_test" file="$(find iirob_led)/launch/iirob_led_rectangle.launch" unless="$(arg sim)">
        <arg name="pub_transform" value="false"/>
	<arg name="port" value="/dev/ttyUSB0" />
    </include>-->
    <!--<remap from="/leds_rectangle/led_force" to="/base/threshold_filtered"/>-->

<!--    <include file="$(find sr2_bringup)/components/neck.launch" if="$(arg neck)">
      <arg name="camera" value="$(arg neck_camera)"/>
    </include>
    <include file="$(find sr2_bringup)/components/fts.launch"  if="$(arg fts)">
      <arg name="sim" value="$(arg sim)"/>
    </include>
    <include file="$(find sr2_bringup)/components/sick_visionary_t.launch"  if="$(arg sick_visionary_t)">
    </include>-->



</launch>
