<?xml version="1.0"?>
<launch>

<!--   <arg name="pkg" default="iirob_kuka_bringup"/> -->
  <arg name="file_name" default="robotrainer2"/>
  <arg name="gui" default="false"/>
  <arg name="only_gui" default="false"/>

  <param unless="$(arg only_gui)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find cob_hardware_config)/robots/robotrainer2/urdf/$(arg file_name).urdf.xacro'" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true"/>
  </node>

  <!-- robot state publisher -->
  <node unless="$(arg only_gui)" pkg="robot_state_publisher" type="robot_state_publisher" name="tool_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node if="$(arg gui)" name="test_robots" pkg="rviz" type="rviz" args="-d $(find iirob_description)/common/rviz/test_robots.rviz" />

</launch>
